<!DOCTYPE html>

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Bionetics health test identifies underlying causes of illness. This health test is used for men&rsquo;s health, women&rsquo;s health, sickness, illness, head ache, stomach ache, pain, lethargy, bloated, bloating">
	<meta name="keywords" content="Health test, hair analysis, hair test, health check, health screening, health testing, food intolerance test, pathogens test, toxins test, nutrition test, men&rsquo;s health, women&rsquo;s health, sickness, illness, head ache, stomach ache, pain, lethargy, bloated, bloating ">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src ="../static/scripts.js"></script>
</head>

<body class = "body" onload = "onLoad()" >

    
    <header id = "Header" class = "header"><!--header bar contains logos, navigation and login system-->

        <div class = "logoBar"><!--logos + login button-->
            <div id = "logo Block" class = "logoBlock" > <!--logos-->
                <a href="../views/indexV0.2.html" class = "linkPlain">
                    <img src = "../static/images/Logo.png" alt = "Bionetics the key to natural wellbeing" class = "logos">
                </a>
            </div>
            
                <div style = "display: inline-block; width: 400px; position: relative; bottom: 15px">
                
                    <div style = "display: inline-block">
                        <a class = "linkPlain" href="mailto:info@bionetics.co.uk">info@bionetics.co.uk</a>
                    </div>
                    <div style = "display: inline-block">
                        <a class = "linkPlain" href="tel:0845 456 0570">0845 456 0570 – 9am-5pm Mon-Fri</a>
                    </div>
                
                </div>
               
            <img src = "../static/images/15years.jpg" alt = "15 years of Bionetics Ltd" class = "logos" style = "float:right">
        </div>
    
        <nav align = "center" class = "navigation"><!--page navigation-->
            <nav id = "navBar" >
                
                <nav class = "navigationButton" >            
                    <a class = "linkPlain"href="https://bionetics.co.uk/bionetics/aboutbionetics.htm" >About</a>        
                </nav>
                <nav class = "navigationButton" >                   
                    <a class = "linkPlain"href="https://bionetics.co.uk/bionetics/application.asp" >Hair Test</a>                 
                </nav>
                <nav class = "navigationButton">                    
                    <a class = "linkPlain"href="https://bionetics.co.uk/" >Testimonies</a>                    
                </nav>
                <nav class = "navigationButton" >
                    <a class = "linkPlain"href="https://bionetics.co.uk/bionetics/contactus.htm" >Contact us</a>
                </nav>
                <nav class = "navigationButton" >                   
                    <a class = "linkPlain"href="https://bioneticsnutrition.co.uk/" >Shop</a>
                </nav>
                <nav class = "navigationButton" >                   
                    <a class = "linkPlain"href="https://bioneticsnutrition.co.uk/" >Login</a>
                </nav>
                <nav id = "nav" class = "navigationButton" >                   
                    <button class="openButton" onclick="toggleNav()">☰</button>
                </nav>
            </nav>
            
            <nav id = "sideNav" style = "float:right; display: none">
                <button class="openButton" onclick="toggleNav()" style = "position: relative; top: 1vw">Menu ☰</button>
           </nav>
    
           <div align = "left" id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">×</a>
                <a class = "sideBarOptions"href="https://bionetics.co.uk/bionetics/aboutbionetics.htm" >About</a>
                <a class = "sideBarOptions"href="https://bionetics.co.uk/bionetics/application.asp" >Hair Test</a>
                <a class = "sideBarOptions"href="https://bionetics.co.uk/" >Testimonies</a>
                <a class = "sideBarOptions"href="https://bionetics.co.uk/bionetics/contactus.htm" >Contact us</a>
                <a class = "sideBarOptions"href="https://bioneticsnutrition.co.uk/" >Shop</a>
                <a class = "sideBarOptions"href="https://bioneticsnutrition.co.uk/" >Login</a>
          </div>
        </nav>
    </header>

    <main align = "center" style = "min-height: calc(100vh - 142px - 300px); " >
        
        <div class = "loginBox" style = "margin-top: 8vw; padding: 20px" >
            <h2 align = "left">Login Here!</h2>
            <form>
                <input type="text" id="username" name="username" placeholder="username" ><br><br>
                <input type="password" id="password" name="password" placeholder = "password" ><br><br>
                <div align = "center">
                    <input type="submit" value="Login" class = "logInButton">
                    <input type="submit" value="Register" class = "logInButton">
                </div>
               
            </form>
        </div>
    </main>

    <footer align="center" class = "footer" >
        
        <div style = "padding: 1vw">
            <a href="https://www.facebook.com/Bionetics-Ltd-1401209133426495/" class="fa fa-facebook"></a>
            <a href="https://www.instagram.com/bioneticsltd/" class="fa fa-instagram"></a>
        </div>
        
		<div style = "display: inline-block; width: 400px; ">
            
            <div style = "display: inline-block">
                <a class = "linkPlain" href="mailto:info@bionetics.co.uk">info@bionetics.co.uk</a>
            </div>
            <div style = "display: inline-block">
                <a class = "linkPlain" href="tel:0845 456 0570">0845 456 0570 – 9am-5pm Mon-Fri</a>
            </div>
        
        </div>
        <br></br>
        <div>
            &copy;Bionetics 2005 | <a  href="bionetics/termsandconditions.htm">terms &amp; conditions</a> | <a  href="bionetics/privacy.htm">privacy</a> 
            <p class = "legalText" >Disclaimer: The services offered on this website are not diagnostic or designed to treat or cure any disease, illness or condition. 
                The programs are based around dietary and nutritional programs designed to support the body’s natural processes. 
                If you have any illness or condition or you are concerned about your health, you should see a health professional.</p>
        </div>
             
        
    </footer>
</body>
