<header id = "myHeader" class = "header"><!--header bar contains logos, navigation and login system-->

    <div class = "logoBar"><!--logos + login button-->
        <div id = "logo Block" class = "logoBlock" > <!--logos-->
            <a href="https://bionetics.co.uk/" class = "linkPlain">
                <img src = "../static/images/Logo.jpg" alt = "Bionetics the key to natural wellbeing" class = "logos">
            </a>
        </div>
        
        
        <img src = "../static/images/15years.jpg" alt = "15 years of Bionetics Ltd" class = "logos" style = "float:right">
    </div>

    <nav align = "center" class = "navigation"><!--page navigation-->
        <nav id = "navBar" >
            
            <nav class = "navigationButton" >            
                <a class = "linkPlain"href="https://bionetics.co.uk/bionetics/aboutbionetics.htm" >About</a>        
            </nav>
            <nav class = "navigationButton" >                   
                <a class = "linkPlain"href="https://bionetics.co.uk/bionetics/application.asp" >Hair Test</a>                 
            </nav>
            <nav class = "navigationButton" >
                <a class = "linkPlain"href="https://bionetics.co.uk/bionetics/conditions.htm" >Medical Conditions</a>                  
            </nav>
            <nav class = "navigationButton">                    
                <a class = "linkPlain"href="https://bionetics.co.uk/" >Testimonies</a>                    
            </nav>
            <nav class = "navigationButton" >
                <a class = "linkPlain"href="https://bionetics.co.uk/bionetics/contactus.htm" >Contact us</a>
            </nav>
            <nav class = "navigationButton" >                   
                <a class = "linkPlain"href="https://bioneticsnutrition.co.uk/" >Shop</a>
            </nav>
            <nav class = "navigationButton" >                   
                <a class = "linkPlain"href="https://bioneticsnutrition.co.uk/" >Log In</a>
            </nav>
        </nav>

       <nav id = "sideNav" style = "float:right; display: none">
            <button class="openbtn" onclick="openNav()">Menu ☰ </button>
       </nav>

       <div align = "left" id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a class = "linkPlain"href="https://bionetics.co.uk/bionetics/aboutbionetics.htm" >About</a>
            <a class = "linkPlain"href="https://bionetics.co.uk/bionetics/application.asp" >Hair Test</a>
            <a class = "linkPlain"href="https://bionetics.co.uk/bionetics/conditions.htm" >Medical Conditions</a>
            <a class = "linkPlain"href="https://bionetics.co.uk/" >Testimonies</a>
            <a class = "linkPlain"href="https://bionetics.co.uk/bionetics/contactus.htm" >Contact us</a>
            <a class = "linkPlain"href="https://bioneticsnutrition.co.uk/" >Shop</a>
      </div>
    </nav>
</header>