<!DOCTYPE html>

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Bionetics health test identifies underlying causes of illness. This health test is used for men&rsquo;s health, women&rsquo;s health, sickness, illness, head ache, stomach ache, pain, lethargy, bloated, bloating">
	<meta name="keywords" content="Health test, hair analysis, hair test, health check, health screening, health testing, food intolerance test, pathogens test, toxins test, nutrition test, men&rsquo;s health, women&rsquo;s health, sickness, illness, head ache, stomach ache, pain, lethargy, bloated, bloating ">
	
</head>

<body style = "margin : 0px; font: Arial; font-size: 18px; ">
	<header><!--header bar contains logos, navigation and login system-->

		<div id = "logo bar" style =" height:100px; background-color :blue" > <!--logos-->
			<img src = "../images/Logo.jpg" alt = "Bionetics the key to natural wellbeing" style = "height :100px">
			
		</div>
		<nav id= "navigation bar" style =" height:50px; background-color :red">
			<table  cellspacing="175px" cellpadding="0" align="center"style =" position:relative; top:-165px; font-size:25px;  ">
				<tr>
					<td><a href="https://bionetics.co.uk/" style="text-decoration: none">
						about
						</a>
					</td>
					<td><a href="https://bionetics.co.uk/" style="text-decoration: none">
						customer testimonies
						</a>
					</td>
					<td><a href="https://bionetics.co.uk/" style="text-decoration: none">
						contact us
						</a>
					</td>
					<td><a href="https://bionetics.co.uk/" style="text-decoration: none">
						shop
						</a>
					</td>
					<td><a href="https://bionetics.co.uk/" style="text-decoration: none">
						Log In
						</a>
					</td>
				</tr>
			</table>
			
		</nav>
	</header>

	<main>
		<div>
			
		</div>

	</main>

	<footer>

	</footer>
</body>