<!DOCTYPE html>

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Bionetics health test identifies underlying causes of illness. This health test is used for men&rsquo;s health, women&rsquo;s health, sickness, illness, head ache, stomach ache, pain, lethargy, bloated, bloating">
	<meta name="keywords" content="Health test, hair analysis, hair test, health check, health screening, health testing, food intolerance test, pathogens test, toxins test, nutrition test, men&rsquo;s health, women&rsquo;s health, sickness, illness, head ache, stomach ache, pain, lethargy, bloated, bloating ">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src ="../static/scripts.js"></script>
</head>

<body class = "body" onload = "onLoad()">
<body onresize="sideMenu()"></body>
    <header id = "Header" class = "header"><!--header bar contains logos, navigation and login system-->

        <div class = "logoBar"><!--logos + login button-->
            <div id = "logo Block" class = "logoBlock" > <!--logos-->
                <a href="https://bionetics.co.uk/" class = "linkPlain">
                    <img src = "../static/images/Logo.jpg" alt = "Bionetics the key to natural wellbeing" class = "logos">
                </a>
            </div>
            
            
            <img src = "../static/images/15years.jpg" alt = "15 years of Bionetics Ltd" class = "logos" style = "float:right">
        </div>
    
        <nav align = "center" class = "navigation"><!--page navigation-->
            <nav id = "navBar" >
                
                <nav class = "navigationButton" >            
                    <a class = "linkPlain"href="https://bionetics.co.uk/bionetics/aboutbionetics.htm" >About</a>        
                </nav>
                <nav class = "navigationButton" >                   
                    <a class = "linkPlain"href="https://bionetics.co.uk/bionetics/application.asp" >Hair Test</a>                 
                </nav>
                <nav class = "navigationButton">                    
                    <a class = "linkPlain"href="https://bionetics.co.uk/" >Testimonies</a>                    
                </nav>
                <nav class = "navigationButton" >
                    <a class = "linkPlain"href="https://bionetics.co.uk/bionetics/contactus.htm" >Contact us</a>
                </nav>
                <nav class = "navigationButton" >                   
                    <a class = "linkPlain"href="https://bioneticsnutrition.co.uk/" >Shop</a>
                </nav>
                <nav class = "navigationButton" >                   
                    <a class = "linkPlain"href="https://bioneticsnutrition.co.uk/" >Log In</a>
                </nav>
                <nav id = "nav" class = "navigationButton" >                   
                    <button class="openButton" onclick="toggleNav()">☰ </button>
                </nav>
            </nav>
            
            <nav id = "sideNav" style = "float:right; display: none">
                <button class="openButton" onclick="toggleNav()" style = "position: relative; top: 1vw">Menu ☰ </button>
           </nav>
    
           <div align = "left" id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">×</a>
                <a class = "linkPlain"href="https://bionetics.co.uk/bionetics/aboutbionetics.htm" >About</a>
                <a class = "linkPlain"href="https://bionetics.co.uk/bionetics/application.asp" >Hair Test</a>
                <a class = "linkPlain"href="https://bionetics.co.uk/" >Testimonies</a>
                <a class = "linkPlain"href="https://bionetics.co.uk/bionetics/contactus.htm" >Contact us</a>
                <a class = "linkPlain"href="https://bioneticsnutrition.co.uk/" >Shop</a>
                <a class = "linkPlain"href="https://bioneticsnutrition.co.uk/" >Log In</a>
          </div>
        </nav>
    </header>
    
    <main class = "content">
        <div align = "center">
            <img src = "../static/images/resultsIn5Days.PNG" class = "uspsImage">
            <img src = "../static/images/thousandsHelped.PNG" class = "uspsImage">
            <img src = "../static/images/4in1Test.PNG" class = "uspsImage">
            <img src = "../static/images/1stCommercial.PNG" class = "uspsImage">
            <img src = "../static/images/numberOneChoice.PNG" class = "uspsImage">
            <img src = "../static/images/noHiddenCosts.PNG" class = "uspsImage">
            <img src = "../static/images/talkToAnActualPerson.PNG" class = "uspsImage">
        </div>

       <!--top image and text-->
        <div class="scrollContent" style="max-width:80%;">
            <img class="mySlides" src="../static/images/firstImageText.png" style="width:100%">
            <img class="mySlides" src="../static/images/secondImageText.jpg" style="width:100%">
            <img class="mySlides" src="../static/images/thirdImageText.jpg" style="width:100%">
            <img class="mySlides" src="../static/images/fouthImageText.jpg" style="width:100%">
            <img class="mySlides" src="../static/images/fifthImageText.jpg" style="width:100%">
            <img class="mySlides" src="../static/images/sixthImageText.jpg" style="width:100%">
            <img class="mySlides" src="../static/images/seventhImageText.jpg" style="width:100%">

            <div align = "center" style ="display:inline-block; width:100%">
                <div class="leftButton hoverYellowButton" onclick="plusDivs(-1)">&#10094;</div>
                <div class="rightButton hoverYellowButton" onclick="plusDivs(1)">&#10095;</div>

                <span class="badge hoverYellow" onclick="selectDivs(1)">1</span>
                <span class="badge hoverYellow" onclick="selectDivs(2)">2</span>
                <span class="badge hoverYellow" onclick="selectDivs(3)">3</span>
                <span class="badge hoverYellow" onclick="selectDivs(4)">4</span>
                <span class="badge hoverYellow" onclick="selectDivs(5)">5</span>
                <span class="badge hoverYellow" onclick="selectDivs(6)">6</span>
                <span class="badge hoverYellow" onclick="selectDivs(7)">7</span>

            </div>
        </div>
        <div id = "What we test for">
            
            <img src = "../static/images/backgroundFade.png" style = "width: 100%; position:relative; top: 13px">
            <div class = "WhatWeTestFor" >
                <div style = "position: relative; top:150px">
                    <p align = "center" class = "heading"  style = "position:relative; bottom: 8vw "> What we test for</p>
                    <div align = "center" class = "howToImages">
                        <div class = "howToBox" style = "position: relative; bottom: 25px">
                            <img src = "../static/images/foods.png" class = "howToImage" >
                            <p >115 foods of a typical European diet</p>
                            
                        </div>
                        <div class = "howToBox">
                            <img src = "../static/images/pathogen.png" class = "howToImage">
                            <p>8 pathogenic stresses</p>
                            <br>
                        </div>
                        <div class = "howToBox">
                            <img src = "../static/images/toxins.png" class = "howToImage">
                            <p>Toxins - including toxic metals, chemicals and hydrocarbons</p>
                        </div>
                        <div class = "howToBox">
                            <img src = "../static/images/nutrition.png" class = "howToImage">
                            <p>Nutritional Requirements - amino acids, vitamins and minerals</p>
                        </div>
                    
                    </div>
                    <div align = "center" style = "position: relative; bottom: 5vw">
                        <a class = "linkPlain"href="https://bionetics.co.uk/" > Learn more &#10095</a>
                    </div>
                </div>
                
            </div>
            
        </div>
        <img src ="../static/images/swoopsWithImage.png" style = "width: 100%">
        <div id = "howToSection">
            
            <div class = "howToBar">
                <div style = "position: relative; top:150px">
                    <p align = "center" class = "heading"  style = "position:relative; bottom: 8vw "> How it works</p>
                    <div align = "center" class = "howToImages">
                        <div class = "howToBox">
                            <img src = "../static/images/basket.png" class = "howToImage">
                            <p >Select your test from the range below</p>
                        </div>
                        <div class = "howToBox">
                            <img src = "../static/images/tweezers.png" class = "howToImage">
                            <p>We need 4 strands of hair with the root attached</p>
                        </div>
                        <div class = "howToBox">
                            <img src = "../static/images/envalope.png" class = "howToImage">
                            <p>Send in the form with your sample</p>
                        </div>
                        <div class = "howToBox">
                            <img src = "../static/images/phone.png" class = "howToImage">
                            <p>arrange your 15 minute FREE consultation</p>
                        </div>
                    
                    </div>
                    <div align = "center" style = "position: relative; bottom: 5vw">
                        <a class = "linkPlain"href="https://bionetics.co.uk/" > Learn more &#10095</a>
                    </div>
                </div>
                
            </div>
            <img src = "../static/images/backgroundFadeUpsideDownGreen.png" style = "width: 100%; position:relative; z-index: -1 ">
        </div>
        
        <div align = "center">

            <img src = "../static/images/backgroundFade.png" style = "width: 100%; ">
            <div style = "background-color: #f9da03; position: relative; bottom: 13px ">
                <p align = "center" class = "heading"> Purchasing options</p>
                <div>
                    <div class = "productBox">
                        <img src = "../static/images/onlineReport.png" class = "productImage">
                        <img src = "../static/images/phone2.png" class = "productImage">
                        <p>Online results + 15 minute consultation</p>
                        <p>£59.95</p>
                        <a class = "linkPlain"href="https://bionetics.co.uk/bionetics/applicationonline.htm" > Learn more &#10095</a>
                    </div>
                    <div  class = "productBox">
                        <img src = "../static/images/onlineReport.png" class = "productImage">
                        <img src = "../static/images/phone2.png" class = "productImage">
                        <img src = "../static/images/mailReport.jpg" class = "productImage">
                        <p>Online results + 15 minute consultation + posted report</p>
                        <p>£64.95</p>
                        <a class = "linkPlain"href="https://bionetics.co.uk/bionetics/applicationonline.htm" > Learn more &#10095</a>
                    </div>
                    <div class = "productBox">
                        <img src = "../static/images/onlineReport.png" class = "productImage">
                        <img src = "../static/images/phone2.png" class = "productImage">
                        <p>Online results + 30 minute consultation</p>
                        <p>£89.95</p>
                        <a class = "linkPlain"href="https://bionetics.co.uk/bionetics/applicationonline.htm" > Learn more &#10095</a>
                    </div>
                    <div  class = "productBox">
                        <img src = "../static/images/onlineReport.png" class = "productImage">
                        <img src = "../static/images/phone2.png" class = "productImage">
                        <img src = "../static/images/mailReport.jpg" class = "productImage">
                        <p>Online results + 30 minute consultation + posted report</p>
                        <p>£94.95</p>
                        <a class = "linkPlain"href="https://bionetics.co.uk/bionetics/applicationonline.htm" > Learn more &#10095</a>
                    </div>
                    <div class = "productBox">
                        <img src = "../static/images/onlineReport.png" class = "productImage">
                        <img src = "../static/images/phone2.png" class = "productImage">
                        <img src = "../static/images/tweezers.png" class = "productImage">
                        <p>Online results + 15 minute consultation + test kit  </p>
                        <p>£69.95</p>
                        <a class = "linkPlain"href="https://bionetics.co.uk/bionetics/applicationonline.htm" > Learn more &#10095</a>
                    </div>
                    <div  class = "productBox">
                        <img src = "../static/images/onlineReport.png" class = "productImage">
                        <img src = "../static/images/phone2.png" class = "productImage">
                        <img src = "../static/images/mailReport.jpg" class = "productImage">
                        <img src = "../static/images/tweezers.png" class = "productImage">
                        <p>Online results + 15 minute consultation + posted report + test kit </p>
                        <p>£74.95</p>
                        <a class = "linkPlain"href="https://bionetics.co.uk/bionetics/applicationonline.htm" > Learn more &#10095</a>
                    </div>
                    <div>
                        <a class = "linkPlain"href="https://bioneticsnutrition.co.uk/" > Shop &#10095</a>
                    </div>
                    
                </div>
               
            </div>
            <img src = "../static/images/backgroundFadeUpsideDown.png" style = "width: 100%; position: relative; bottom: 13px">
            
            
        </div>

        <div align = "center" class = "testimonieBlock"><!--Testimonies-->
            
            <div class = "testimonieBox">
                
                <P class = "testimonieText">
                    I must say that I have been extremely pleased with the outcome so far and have recommended yourselves to several people."
                   
                </P>
                <br>
                <p class = "testimonieText">
                    Carole - Devon
                </p>
                <img src = "../static/images/fiveStar.png" class = "rating" >
            </div>

            <div class = "testimonieBox">
                
                <P class = "testimonieText">
                    After 10 days he began to feel some improvement, and by the end of the course was back at work after 5 months of being unable to do hardly anything! 
                    Thank you so very, very much - we are delighted.
                    
                </P>
                <p class = "testimonieText">
                    Ann - Dorset
                </p>
                <img src = "../static/images/fiveStar.png" class = "rating">
            </div>
            <div class = "testimonieBox">
                <br>
                <P class = "testimonieText">
                    I can now plan things in advance and expect to be able to carry them through. 
                    
                </P>
                <br>
                <p class = "testimonieText">
                    
                    Lisa - Berkshire
                </p>
                <img src = "../static/images/fiveStar.png" class = "rating">
            </div>
            <div class = "testimonieBox">
                
                <P class = "testimonieText">
                    After only two weeks of following the results of her hair test Victoria's Eczema has completely gone and now after a month or so her skin 
                    condition is so much better.
                </P>
                
                <p class = "testimonieText">
                    <br>
                    Margaret - Midlands
                </p>
                <img src = "../static/images/fiveStar.png" class = "rating">
            </div>
            <div class = "testimonieBox">
                <br>
                <P class = "testimonieText">
                    My consultant is amazed and quite frankly so am I. My PSA score is down for the 3rd time!

                </P>
                <br>
                <p class = "testimonieText">
                    Don - Bucks
                </p>
                <img src = "../static/images/fiveStar.png" class = "rating">
            </div>
            <div class = "testimonieBox">
                
                <P class = "testimonieText">
                    Since I found Bionetics I haven't looked back - the first month was hard as it involved a whole dietary life change, 
                     but now I have energy and enthusiasm (my spark has returned), my weight has stabilised

                </P>
                <p class = "testimonieText">
                    
                    Bart - Berks
                </p>
                <img src = "../static/images/fiveStar.png" class = "rating">
            </div>
            <div  >
                <a class = "linkPlain"href="https://bionetics.co.uk/" style = "position:relative; bottom: 2vw"> More testimonies &#10095</a>
            </div>
        </div>

        <div id = "FAQs" style = "background-color:  #f9da03; display: block">
            <img src = "../static/images/swoop.png" style = " width: 100%; position:relative; bottom: 13px"">
            
            <div class = "FAQHeader">
                <p align = "center" class = "heading"  > FAQs</p>
            </div>
            <div class = "FAQBox" style = "display: inline-block; ">
                <div class = "FAQQuestion">
                    <button id = "FAQ1" type="button" class="collapsibleButton" onclick = "expand(0)">Can I complete a hair test on a child?</button>
                    <div class="collapsableContent">
                        <p>Children can complete a hair sensitivity test once they reach 5 years old. This is due to the changes in their immune system, the importance of 
                            eating a varied diet and because infants have not yet built up their full tolerance levels to items and this could highlight false 
                            positives in their test results. However it is up to the parents or guardians if they would still like to proceed knowing this.
                        </p>
                    </div>
                </div>
                <div  class = "FAQQuestion">
                    <button id = "FAQ2" type="button" class="collapsibleButton" onclick = "expand(1)">What is Bioresonance Hair testing?</button>
                    <div class="collapsableContent">
                        <p>Bioresonance therapy is a complimentary medicine using a device that captures and diagnoses electromagnetic signals coming from the body. 
                            Developed in the 1970’s by a team of medical doctors and bio-physicists, these devices are in regular use in over 26 different countries.
                            Bioresonance therapy is one of a number of procedures including homeopathy, acupuncture and other naturopathic procedures within the area 
                            of empirical healing. Bioresonance therapy was invented in Germany in 1977 by Franz Morell and his son-in-law, engineer Erich Rasche. 
                            The concept of bioresonance is that the machine’s electromagnetic waves create a resonance in our body’s cells which, in turn, brings 
                            about the desired effects. BioResonance is a safe and gentle, non-invasive alternative therapeutic technique designed on the 
                            premise that all particles of matter generate electromagnetic energy.
                        </p>
                    </div>
                </div>
                <div  class = "FAQQuestion">
                    <button id = "FAQ3" type="button" class="collapsibleButton" onclick = "expand(2)">Is there anything additional to pay?</button>
                    <div class="collapsableContent">
                        <p>If you've purchased one of our hair testing kits, you will have to pay the cost of the postage back to the processing centre here in the UK. 
                            If you've purchased a blood intolerance test, you will receive a free post return envelope in the kit which is sent to you. We try to keep our costs 
                            as low as possible (by not sending out physical hair testing kits) so that we are able to offer such a comprehensive and accurate test at the price 
                            offered. Please ensure the correct postage amount has been paid as we are not liable for any extra charges.
                        </p>
                        </div>
                </div>
                <div class = "FAQQuestion">
                    <button id = "FAQ4" type="button" class="collapsibleButton" onclick = "expand(3)">How much should postage cost?</button>
                    <div class="collapsableContent">
                        <p>When you send your samples to us, please remember to attach the correct postage amount to your envelope or outer wrap. 
                        If you do not attach the correct postage, the samples may not reach our testing lab. Therefore, you may need to resend your 
                        samples to us again using the correct postage amount. For more information please visit our International Service page.
                        </p>
                    </div>
                </div>
                <div class = "FAQQuestion">
                    <button id = "FAQ5" type="button" class="collapsibleButton" onclick = "expand(4)">How much should postage cost?</button>
                    <div class="collapsableContent">
                        <p>When you send your samples to us, please remember to attach the correct postage amount to your envelope or outer wrap. 
                        If you do not attach the correct postage, the samples may not reach our testing lab. Therefore, you may need to resend your 
                        samples to us again using the correct postage amount. For more information please visit our International Service page.
                        </p>
                    </div>
                </div>
                
            </div>
            <div>
                <a class = "linkPlain"href="https://bionetics.co.uk/" style = "position:relative; bottom: 2vw; left: 4vw"> More FAQs &#10095</a>
            </div>
            
        </div>
        
    </main>

    <footer align="center" class = "footer" >
        
        <div style = "padding: 1vw">
            <a href="https://www.facebook.com/Bionetics-Ltd-1401209133426495/" class="fa fa-facebook"></a>
            <a href="https://www.instagram.com/bioneticsltd/" class="fa fa-instagram"></a>
        </div>
        <div>
            <img src = "../static/images/CMA_LOGO.jpg" >
            <div style = "display: inline-block; width: 400px; position: relative; bottom: 15px">
            
                <div style = "display: inline-block">
                    <a class = "linkPlain" href="mailto:info@bionetics.co.uk">info@bionetics.co.uk</a>
                </div>
                <div style = "display: inline-block">
                    <a class = "linkPlain" href="tel:0845 456 0570">0845 456 0570 – 9am-5pm Mon-Fri</a>
                </div>
            
            </div>
            <img src = "../static/images/payments.jpg" >
        </div>
		
        <br></br>
        <div>
            &copy;Bionetics 2005 | <a  href="bionetics/termsandconditions.htm">terms &amp; conditions</a> | <a  href="bionetics/privacy.htm">privacy</a> 
            <p class = "legalText" >Disclaimer: The services offered on this website are not diagnostic or designed to treat or cure any disease, illness or condition. 
                The programs are based around dietary and nutritional programs designed to support the body’s natural processes. 
                If you have any illness or condition or you are concerned about your health, you should see a health professional.</p>
        </div>
             
        
    </footer>
</body>
