<!DOCTYPE html>
<script src ="../static/scripts.js"></script>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Bionetics health test identifies underlying causes of illness. This health test is used for men&rsquo;s health, women&rsquo;s health, sickness, illness, head ache, stomach ache, pain, lethargy, bloated, bloating">
	<meta name="keywords" content="Health test, hair analysis, hair test, health check, health screening, health testing, food intolerance test, pathogens test, toxins test, nutrition test, men&rsquo;s health, women&rsquo;s health, sickness, illness, head ache, stomach ache, pain, lethargy, bloated, bloating ">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body class = "body" onload = "showDivs(slideIndex)">
    
    <header id = "myHeader" class = "header"><!--header bar contains logos, navigation and login system-->

        <div class = "logoBar"><!--logos + login button-->
            <div id = "logo Block" class = "logoBlock" > <!--logos-->
                <a href="https://bionetics.co.uk/" class = "linkPlain">
                    <img src = "../static/images/Logo.jpg" alt = "Bionetics the key to natural wellbeing" class = "logos">
                    <img src = "../static/images/15years.jpg" alt = "15 years of Bionetics Ltd" class = "logos">
                </a>
            </div>
            <nav class = "logInButton"><!--Log in button-->
                <div >
                    <a class = "linkPlain" href="https://bionetics.co.uk/" > Log In</a>
                </div>
        
            </nav>
        </div>

        <nav align = "center" class = "navigation"><!--page navigation-->
            <nav style = "display:inline-block">
                
                <nav class = "navigationButton" >
                    <div >
                        <a class = "linkPlain"href="https://bionetics.co.uk/" > About</a>
                    </div>
        
                </nav>
                <nav class = "navigationButton" >
                    <div >
                        <a class = "linkPlain"href="https://bionetics.co.uk/" > Hair Test</a>
                    </div>
        
                </nav>
                <nav class = "navigationButton" >
                    <div >
                        <a class = "linkPlain"href="https://bionetics.co.uk/" > medical conditions</a>
                    </div>
        
                </nav>
                <nav class = "navigationButton">
                    <div >
                        <a class = "linkPlain"href="https://bionetics.co.uk/" > Testimonies</a>
                    </div>
        
                </nav>
                <nav class = "navigationButton" >
                    <div >
                        <a class = "linkPlain"href="https://bionetics.co.uk/" > Contact us</a>
                    </div>
        
                </nav>
                <nav class = "navigationButton" >
                    <div  >
                        <a class = "linkPlain"href="https://bionetics.co.uk/" > Shop</a>
                    </div>
        
                </nav>
            </nav>
           
        </nav>
    </header>
   
    <main class = "content">
        <div align = "center">
            <img src = "../static/images/resultsIn5Days.PNG" class = "uspsImage">
            <img src = "../static/images/thousandsHelped.PNG" class = "uspsImage">
            <img src = "../static/images/4in1Test.PNG" class = "uspsImage">
            <img src = "../static/images/1stCommercial.PNG" class = "uspsImage">
            <img src = "../static/images/numberOneChoice.PNG" class = "uspsImage">
            <img src = "../static/images/noHiddenCosts.PNG" class = "uspsImage">
            <img src = "../static/images/talkToAnActualPerson.PNG" class = "uspsImage">
        </div>

       <!--top image and text-->
        <div class="scrollContent" style="max-width:80%;">
            <img class="mySlides" src="../static/images/intolerance.png" style="width:100%">
            <img class="mySlides" src="../static/images/nutritionalItems.jpg" style="width:100%">
            <img class="mySlides" src="../static/images/bloating.jpg" style="width:100%">
            <img class="mySlides" src="../static/images/dinner.jpg" style="width:100%">

            <div align = "center" style ="display:inline-block; width:100%">
                <div class="leftButton hoverYellowButton" onclick="plusDivs(-1)">&#10094;</div>
                <div class="rightButton hoverYellowButton" onclick="plusDivs(1)">&#10095;</div>

                <span class="badge hoverYellow" onclick="selectDivs(1)">1</span>
                <span class="badge hoverYellow" onclick="selectDivs(2)">2</span>
                <span class="badge hoverYellow" onclick="selectDivs(3)">3</span>
                <span class="badge hoverYellow" onclick="selectDivs(4)">4</span>

            </div>
        </div>
            
        <div >
            <img src = "../static/images/backgroundFade.png" style = "width: 100%; position:relative; top: 13px">
            <div class = "howToBar">
                <p align = "center" class = "heading"  style = "position:relative; bottom: 8vw "> How it works</p>
                <div align = "center" class = "howToImages">
                <div class = "howToBox">
                    <img src = "../static/images/basket.png" class = "howToImage">
                    <p >Select your test from the range below</p>
                </div>
                <div class = "howToBox">
                    <img src = "../static/images/tweezers.png" class = "howToImage">
                    <p>We need 4 strands of hair with the root attached</p>
                </div>
                <div class = "howToBox">
                    <img src = "../static/images/envalope.png" class = "howToImage">
                    <p>Send in the form with your sample</p>
                </div>
                <div class = "howToBox">
                    <img src = "../static/images/phone.png" class = "howToImage">
                    <p>arrange your 15 minute FREE consultation</p>
                </div>
                
            </div>
            <div align = "center" style = "position: relative; bottom: 5vw">
                <a class = "linkPlain"href="https://bionetics.co.uk/" > Learn more &#10095</a>
            </div>
            
            </div>
            
        </div>

        <div align = "center" class = "productBar">
            <p align = "center" class = "heading"  > Our tests</p>
            <div>
                <div class = "productBox">
                    <p>Online results + 15 minute consultation</p>
                    <a class = "linkPlain"href="https://bionetics.co.uk/" > Learn more &#10095</a>
                </div>
                <div  class = "productBox">
                    <p>Online results + 15 minute consultation + posted report</p>
                    <a class = "linkPlain"href="https://bionetics.co.uk/" > Learn more &#10095</a>
                </div>
                <div class = "productBox">
                    <p>Online results + 30 minute consultation</p>
                    <a class = "linkPlain"href="https://bionetics.co.uk/" > Learn more &#10095</a>
                </div>
                <div  class = "productBox">
                    <p>Online results + 30 minute consultation + posted report</p>
                    <a class = "linkPlain"href="https://bionetics.co.uk/" > Learn more &#10095</a>
                </div>
                <div class = "productBox">
                    <p>Test kit + online results + 15 minute consultation</p>
                    <a class = "linkPlain"href="https://bionetics.co.uk/" > Learn more &#10095</a>
                </div>
                <div  class = "productBox">
                    <p>Test kit + online results + posted report + 15 minute consultation</p>
                    <a class = "linkPlain"href="https://bionetics.co.uk/" > Learn more &#10095</a>
                </div>
                <div>
                    <a class = "linkPlain"href="https://bionetics.co.uk/" > Shop &#10095</a>
                </div>
                
            </div>
            
            <img src = "../static/images/backgroundFadeBlue.png" style = "width: 100%; position: relative; top: 15px">
        </div>
        <div align = "center" class = "testimonieBlock"><!--Testimonies-->
            
            <div class = "testimonieBox">
                
                <P class = "testimonieText">
                    I must say that I have been extremely pleased with the outcome so far and have recommended yourselves to several people."
                   
                </P>
                <p class = "testimonieText">
                    Carole - Devon
                </p>
                <img src = "../static/images/fiveStar.png" class = "rating" >
            </div>

            <div class = "testimonieBox">
                
                <P class = "testimonieText">
                    After 10 days he began to feel some improvement, and by the end of the course was back at work after 5 months of being unable to do hardly anything! Thank you so very, very much - we are delighted.
                    
                </P>
                <p class = "testimonieText">
                    Ann - Dorset
                </p>
                <img src = "../static/images/fiveStar.png" class = "rating">
            </div>
            <div class = "testimonieBox">
                
                <P class = "testimonieText">
                    I can now plan things in advance and expect to be able to carry them through. 
                    
                </P>
                <p class = "testimonieText">
                    
                    Lisa - Berkshire
                </p>
                <img src = "../static/images/fiveStar.png" class = "rating">
            </div>
            <div  >
                <a class = "linkPlain"href="https://bionetics.co.uk/" style = "position:relative; bottom: 2vw"> More testimonies &#10095</a>
            </div>
        </div>

        <div id = "FAQs" style = "background-color:  #f9da03">
            <img src = "../static/images/swoop.png" style = " width: 100%; position:relative; bottom: 13px"">
            <div>
                <div>
                    <p align = "center" class = "heading" style = "position:relative; bottom: 10vw; right: 35vw" > FAQs</p>
                </div>
                <div style = "position: relative; bottom: 6vw; left: 3vw">
                    <div>
                        <button id = "FAQ1" type="button" class="collapsibleButton" onclick = "expand(0)">Can I complete a hair test on a child?</button>
                        <div class="collapsableContent">
                            <p>Children can complete a hair sensitivity test once they reach 5 years old. This is due to the changes in their immune system, the importance of 
                                eating a varied diet and because infants have not yet built up their full tolerance levels to items and this could highlight false 
                                positives in their test results. However it is up to the parents or guardians if they would still like to proceed knowing this.</p>
                        </div>
                    </div>
                    <div>
                        <button id = "FAQ1" type="button" class="collapsibleButton" onclick = "expand(1)">What is Bioresonance Hair testing?</button>
                        <div class="collapsableContent">
                            <p>Bioresonance therapy is a complimentary medicine using a device that captures and diagnoses electromagnetic signals coming from the body. 
                                Developed in the 1970’s by a team of medical doctors and bio-physicists, these devices are in regular use in over 26 different countries.
                                Bioresonance therapy is one of a number of procedures including homeopathy, acupuncture and other naturopathic procedures within the area 
                                of empirical healing. Bioresonance therapy was invented in Germany in 1977 by Franz Morell and his son-in-law, engineer Erich Rasche. 
                                The concept of bioresonance is that the machine’s electromagnetic waves create a resonance in our body’s cells which, in turn, brings 
                                about the desired effects. BioResonance is a safe and gentle, non-invasive alternative therapeutic technique designed on the 
                                premise that all particles of matter generate electromagnetic energy.
                            </p>
                        </div>
                    </div>
                    <div>
                        <button id = "FAQ1" type="button" class="collapsibleButton" onclick = "expand(2)">Is there anything additional to pay?</button>
                        <div class="collapsableContent">
                            <p>If you've purchased one of our hair testing kits, you will have to pay the cost of the postage back to the processing centre here in the UK. 
                                If you've purchased a blood intolerance test, you will receive a free post return envelope in the kit which is sent to you. We try to keep our costs 
                                as low as possible (by not sending out physical hair testing kits) so that we are able to offer such a comprehensive and accurate test at the price 
                                offered. Please ensure the correct postage amount has been paid as we are not liable for any extra charges.
                            </p>
                            </div>
                    </div>
                    <div>
                        <button id = "FAQ1" type="button" class="collapsibleButton" onclick = "expand(3)">How much should postage cost?</button>
                        <div class="collapsableContent">
                            <p>When you send your samples to us, please remember to attach the correct postage amount to your envelope or outer wrap. 
                            If you do not attach the correct postage, the samples may not reach our testing lab. Therefore, you may need to resend your 
                            samples to us again using the correct postage amount. For more information please visit our International Service page.
                            </p>
                        </div>
                    </div>
                    <div  >
                        <a class = "linkPlain"href="https://bionetics.co.uk/" style = "position:relative; top: 2vw; padding: 18px"> More FAQs &#10095</a>
                    </div>
                </div>
                
            </div>
           
        </div>
        
    </main>

    <footer align="center" class = "footer" class = "footer">
        <div style = "padding: 1vw">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-instagram"></a>
        </div>
		
        <div>
            &copy;Bionetics 2005 | <a  href="bionetics/termsandconditions.htm">terms &amp; conditions</a> | <a  href="bionetics/privacy.htm">privacy</a> 
            <p class = "legalText" >Disclaimer: The services offered on this website are not diagnostic or designed to treat or cure any disease, illness or condition. 
                The programs are based around dietary and nutritional programs designed to support the body’s natural processes. 
                If you have any illness or condition or you are concerned about your health, you should see a health professional.</p>
        </div>
             
        
    </footer>
</body>
