<!DOCTYPE html>
<script src ="../static/scripts.js"></script>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Bionetics health test identifies underlying causes of illness. This health test is used for men&rsquo;s health, women&rsquo;s health, sickness, illness, head ache, stomach ache, pain, lethargy, bloated, bloating">
	<meta name="keywords" content="Health test, hair analysis, hair test, health check, health screening, health testing, food intolerance test, pathogens test, toxins test, nutrition test, men&rsquo;s health, women&rsquo;s health, sickness, illness, head ache, stomach ache, pain, lethargy, bloated, bloating ">
    <link rel="stylesheet" href="../static/styles.css">
    

</head>

<body class = "body" onload = "showDivs(slideIndex)">
    
    <header id = "myHeader" class = "header"><!--header bar contains logos, navigation and login system-->

        <div class = "logoBar"><!--logos + login button-->
            <div id = "logo Block" class = "logoBlock" > <!--logos-->
                <a href="https://bionetics.co.uk/" class = "linkPlain">
                    <img src = "../static/images/Logo.jpg" alt = "Bionetics the key to natural wellbeing" class = "logos">
                    <img src = "../static/images/15years.jpg" alt = "15 years of Bionetics Ltd" class = "logos">
                </a>
            </div>
            <nav class = "logInButton"><!--Log in button-->
                <div >
                    <a class = "linkPlain" href="https://bionetics.co.uk/" > Log In</a>
                </div>
        
            </nav>
        </div>

        <nav align = "center" class = "navigation"><!--page navigation-->
            <nav style = "display:inline-block">
                
                <nav class = "navigationButton" >
                    <div >
                        <a class = "linkPlain"href="https://bionetics.co.uk/" > About</a>
                    </div>
        
                </nav>
                <nav class = "navigationButton" >
                    <div >
                        <a class = "linkPlain"href="https://bionetics.co.uk/" > Hair Test</a>
                    </div>
        
                </nav>
                <nav class = "navigationButton" >
                    <div >
                        <a class = "linkPlain"href="https://bionetics.co.uk/" > medical conditions</a>
                    </div>
        
                </nav>
                <nav class = "navigationButton">
                    <div >
                        <a class = "linkPlain"href="https://bionetics.co.uk/" > Testimonies</a>
                    </div>
        
                </nav>
                <nav class = "navigationButton" >
                    <div >
                        <a class = "linkPlain"href="https://bionetics.co.uk/" > Contact us</a>
                    </div>
        
                </nav>
                <nav class = "navigationButton" >
                    <div  >
                        <a class = "linkPlain"href="https://bionetics.co.uk/" > Shop</a>
                    </div>
        
                </nav>
            </nav>
           
        </nav>
    </header>
   
    <main class = "content">

       <!--top image and text-->
        <div class="scrollContent" style="max-width:80%;">
            <img class="mySlides" src="../static/images/flowers.jpg" style="width:100%">
            <img class="mySlides" src="../static/images/flowers2.jpg" style="width:100%">
            <img class="mySlides" src="../static/images/flowers3.jpg" style="width:100%">
            <div align = "center" style ="display:inline-block; width:100%">
                <div class="leftButton hoverKhaki" onclick="plusDivs(-1)">&#10094;</div>
                <div class="rightButton hoverKhaki" onclick="plusDivs(1)">&#10095;</div>
                <span class="badge hoverWhite" onclick="selectDivs(1)">1</span>
                <span class="badge hoverWhite" onclick="selectDivs(2)">2</span>
                <span class="badge hoverWhite" onclick="selectDivs(3)">3</span>
            </div>
        </div>
            
        <div class = "howToBar">
            <img src = "../static/images/backgroundFade.png" style = "width: 100%">
            <p align = "center" class = "heading"  style = "position:relative; bottom: 8vw "> How it works</p>
            <div align = "center" class = "howToImages">
                <div class = "howToBox">
                    <img src = "../static/images/basket.png" class = "howToImage">
                    <p >Select your test from the range below</p>
                </div>
                <div class = "howToBox">
                    <img src = "../static/images/tweezers.png" class = "howToImage">
                    <p>We need 4 strands of hair with the root attached</p>
                </div>
                <div class = "howToBox">
                    <img src = "../static/images/envalope.png" class = "howToImage">
                    <p>Send in the form with your sample</p>
                </div>
                <div class = "howToBox">
                    <img src = "../static/images/phone.png" class = "howToImage">
                    <p>arrange your 15 minute FREE consultation</p>
                </div>
            </div>
            
        </div>
        <div class = "productBar">
            <div align = "center" class = "productBox">
                <p>online results + 15 minute consultation</p>
            </div>
            <div align = "center" class = "productBox">
                <p>online results + 15 minute consultation + printed report</p>
            </div>
            <div align = "center" class = "productBox">
                <p>online results + 30 minute consultation</p>
            </div>
            <div align = "center" class = "productBox">
                <p>online results + 30 minute consultation + printed report</p>
            </div>
        </div>

        <section align = "center" ><!--image links-->
            <div class = "boxLink" >
                <a href="https://bionetics.co.uk/">
                    <img src = "../static/images/pillPoppin.jpg" class = "boxImage">
                </a>
            </div>
            <div class = "boxLink">
                <a href="https://bionetics.co.uk/">
                    <img src = "../static/images/pillPoppin.jpg" class = "boxImage">
                </a>
            </div>
            <div class = "boxLink">
                <a href="https://bionetics.co.uk/">
                    <img src = "../static/images/pillPoppin.jpg" class = "boxImage">
                </a>
            </div>
        </section>

        <div align = "center" class = "pageBlock"><!--Testimonies-->
            
            <div class = "testimonieBox">
                
                <P class = "testimonieText">
                    I must say that I have been extremely pleased with the outcome so far and have recommended yourselves to several people."
                   
                </P>
                <p class = "testimonieText">
                    Carole - Devon
                </p>
                <img src = "../static/images/fiveStar.png" class = "rating" >
            </div>

            <div class = "testimonieBox">
                
                <P class = "testimonieText">
                    After 10 days he began to feel some improvement, and by the end of the course was back at work after 5 months of being unable to do hardly anything! Thank you so very, very much - we are delighted.
                    
                </P>
                <p class = "testimonieText">
                    Ann - Dorset
                </p>
                <img src = "../static/images/fiveStar.png" class = "rating">
            </div>
            <div class = "testimonieBox">
                
                <P class = "testimonieText">
                    I can now plan things in advance and expect to be able to carry them through. 
                    
                </P>
                <p class = "testimonieText">
                    
                    Lisa - Berkshire
                </p>
                <img src = "../static/images/fiveStar.png" class = "rating">
            </div>
           
        </div>

        <section align = "center"> <!--image links-->
            <div class = "boxLink">
                <a href="https://bionetics.co.uk/">
                    <img src = "../static/images/pillPoppin.jpg" class = "boxImage">
                </a>
            </div>
            <div class = "boxLink">
                <a href="https://bionetics.co.uk/">
                    <img src = "../static/images/pillPoppin.jpg" class = "boxImage">
                </a>
            </div>
            <div class = "boxLink">
                <a href="https://bionetics.co.uk/">
                    <img src = "../static/images/pillPoppin.jpg" class = "boxImage">
                </a>
            </div>
        </section>

        
    </main>

    <footer align="center" class = "footer" class = "footer">
		
        <div>
            &copy;Bionetics 2005 | <a  href="bionetics/termsandconditions.htm">terms &amp; conditions</a> | <a  href="bionetics/privacy.htm">privacy</a> 
            <p class = "legalText" >Disclaimer: The services offered on this website are not diagnostic or designed to treat or cure any disease, illness or condition. 
                The programs are based around dietary and nutritional programs designed to support the body’s natural processes. 
                If you have any illness or condition or you are concerned about your health, you should see a health professional.</p>
        </div>
             
        
    </footer>
</body>
