.body{
    margin: 0;
    font: Arial;
    font-size: 1.5rem;
    color: #262d3a;

}
.header{
    z-index: 999;
}
.logoBar, .footer{
    height: 4vw;
    background-color: whitesmoke;
}
.logos{
    height: 2vw;
    margin-left: 1vw;
}
.navigation{
    position:absolute;
    top:0.4vw;
    right:0;
    
}
.navigationButton{
    position:relative;
    display: inline;
    float: right;
    margin: 4vw;
    margin-top: 1vw;
}
.topSection{
    height: 34vw;
}
.topPicture{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.textBox{
    background-color: whitesmoke;
    display: inline-block;
    position: absolute;
    top : 8vw;
    left: 8vw;
    max-width: 600px;
    opacity: 0.8;
    padding: 1vw;
    z-index: 100;
}
.testimonieBlock{
    background-color:lightblue;
}
.testimonieText{
    width: 400px;
    
}
.testimonieBox{
   
    margin: 4vw; 
    margin-top: 2.5vw;
    display: inline-block; 
}

.linkPlain, .boxLink{
    text-decoration: none;
    color: #262d3a;
   
}

.boxLink {
    margin: 5vw;
    display: inline-block;
   
}

.boxImage{
    width: 450px;
}

.legalText{
    font-size: 0.5rem;
}

.rating{
    width: 8vw;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%
}
  
.sticky + .content{
    padding-top: 4vw;
}

.footer{
    padding: 1vw;
}